<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,500;1,500&family=Merriweather+Sans&display=swap');
 
 .fonte-personalizada{
   font-family: 'Bebas Neue', sans-serif;
 }
 
   </style>
   
   <body>
    <div class="container custom-shadow  rounded-5  bg-black">
        <h4 class="mt-5  rounded-5" id="data-e-hora"></h4>
        <h1 class=" fonte-personalizada text-light bg-black">Erro Desconhecido</h1>
        <h6 class=" fonte-personalizada text-light bg-black">Tente aproximar o cartão <br> novamente</h6>
        <img  class=" bg-black" src="/img/error.png" width="300px">
        
        <p class="  text-light bg-black" >www.nomedositeprincipal.com</p>
    </div>

    <script  src="./js/dataHora.js"></script>
</body>

<script>
    function mostrarDataHora() {
      const elementoDataHora = document.getElementById("data-e-hora");
      elementoDataHora.style.color = "#eaeaea"; // Define a cor principal do Bootstrap
      elementoDataHora.style.fontFamily = "Inria Sans, sans-serif"; // Define a fonte do Bootstrap
      elementoDataHora.style.fontWeight = "bold"; // Define o peso da fonte como negrito
      function atualizarDataHora() {
        const data = new Date();
        const dataFormatada = data.toLocaleDateString();
        const horaFormatada = data.toLocaleTimeString();
        elementoDataHora.textContent = `Data: ${dataFormatada} - Hora: ${horaFormatada}`;
      }
      setInterval(atualizarDataHora, 1000); // Atualiza a cada segundo
      atualizarDataHora(); // Para exibir imediatamente
    }



    
    mostrarDataHora();


    
  </script>


<script>
  const obterParametroDaUrl = (nome) => {
const urlSearchParams = new URLSearchParams(window.location.search);
return urlSearchParams.get(nome);
};

// Função para exibir a mensagem e redirecionar após 5 segundos
const exibirMensagemEAgendarRedirecionamento = () => {
const causa = obterParametroDaUrl("causa");
const mensagemParagrafo = document.getElementById("mensagem");

// Exibir mensagem com base na causa
if (causa === "cliente-nao-encontrado") {
  mensagemParagrafo.innerText = "Cliente não encontrado.";
} else if (causa === "saldo-insuficiente") {
  mensagemParagrafo.innerText = "Saldo insuficiente.";
} else if (causa === "saldo-insuficiente") {
  mensagemParagrafo.innerText = "Pass";
} 

// Agendar redirecionamento após 5 segundos
setTimeout(() => {
  window.location.href = "http://localhost:3000/catraca";
}, 3000);
};

exibirMensagemEAgendarRedirecionamento();

</script>