
<body>
    <div class="container">
        <h4 id="data-e-hora"></h4>
        <h1>Saldo Insuficiente</h1>
        <h6>Realize a recarga através do site</h6>
        <img src="/img/negado.png" width="300px">
        
        <p>www.nomedositeprincipal.com</p>
    </div>

    <script src="./js/dataHora.js"></script>
</body>

<script>
    function mostrarDataHora() {
      const elementoDataHora = document.getElementById("data-e-hora");
      elementoDataHora.style.color = "#eaeaea"; // Define a cor principal do Bootstrap
      elementoDataHora.style.fontFamily = "Inria Sans, sans-serif"; // Define a fonte do Bootstrap
      elementoDataHora.style.fontWeight = "bold"; // Define o peso da fonte como negrito
      function atualizarDataHora() {
        const data = new Date();
        const dataFormatada = data.toLocaleDateString();
        const horaFormatada = data.toLocaleTimeString();
        elementoDataHora.textContent = `Data: ${dataFormatada} - Hora: ${horaFormatada}`;
      }
      setInterval(atualizarDataHora, 1000); // Atualiza a cada segundo
      atualizarDataHora(); // Para exibir imediatamente
    }

    mostrarDataHora();
  </script>