<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Catraca</title>
    <link rel="stylesheet" href="css/catraca.css">
    
</head>

<body>
    <div class="container">
        <h4 id="data-e-hora"></h4>
        <h1>APROXIME O CARTÃO</h1>
        <img src="/img/aproximar.png" >
        <h6>Linha 115</h6>
        <div  id="dataHora"></div>
        <p>www.nomedositeprincipal.com</p>
       

        <script>
          function mostrarDataHora() {
            const elementoDataHora = document.getElementById("data-e-hora");
            elementoDataHora.style.color = "#eaeaea"; // Define a cor principal do Bootstrap
            elementoDataHora.style.fontFamily = "Inria Sans, sans-serif"; // Define a fonte do Bootstrap
            elementoDataHora.style.fontWeight = "bold"; // Define o peso da fonte como negrito
            function atualizarDataHora() {
              const data = new Date();
              const dataFormatada = data.toLocaleDateString();
              const horaFormatada = data.toLocaleTimeString();
              elementoDataHora.textContent = `Data: ${dataFormatada} - Hora: ${horaFormatada}`;
            }
            setInterval(atualizarDataHora, 1000); // Atualiza a cada segundo
            atualizarDataHora(); // Para exibir imediatamente
          }

          mostrarDataHora();
        </script>
      </div>
    </div>

    <input name="idcartao" id="idcartao" type="hidden">

    <script src="./js/dataHora.js"></script>
</body>

