<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <!-- icone do site -->

  <link rel="icon" href="img/icone-pagina.ico" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home-site.css">
  <title>SmartBus</title>
</head>

<body>

  <!-- NAVBAR FEITO -->

  <nav  class=" tamamhopersoalizado custom-shadow navbar navbar-dark bg-black navbar-expand-lg">
    <a class="navbar-brand ml-5 " href="http://127.0.0.1:3000/site/home"><img class="logo"  src="/img/logo-smartbuss.png" alt="logo-do-site-Smart-Bus"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-right">
        <li class="nav-item active py-2-5   m-2 ">
          <a class="nav-link text-warning custom-font-weight font-do-site-primaria "
            href="http://127.0.0.1:3000/site/home">Home</a>
        </li>
        <li class="nav-item py-2-5   m-2 ">
          <a class="nav-link text-warning custom-font-weight font-do-site-primaria"
            href="http://127.0.0.1:3000/site/horarios">Horarios</a>
        </li>
        <li class="nav-item py-2-5   m-2 ">
          <a class="nav-link text-warning custom-font-weight font-do-site-primaria"
            href="http://127.0.0.1:3000/site/recarga">Recarga</a>
        </li>
        <li class="nav-item py-2-5   m-2  ">
          <a class="nav-link text-warning custom-font-weight font-do-site-primaria"
            href="http://127.0.0.1:3000/site/ajuda">Ajuda</a>
        </li>
        <li id="btnentrar">
          <a href="http://127.0.0.1:3000/site/cadastrar"><button type="button" src="template/pages/samples/login.html"
              class=" btn btn-warning  btn-primary custom-shadow btn-md rounded-3 border-0 text-black font-weight-bold  py-2-5   m-3  text-center">Entrar</button></a>
        </li>
        <li id="btnperfil">
          <a href="http://127.0.0.1:3000/site/perfil"><button type="hidden" src="template/pages/samples/login.html"
              class="  btn btn-warning  btn-primary custom-shadow btn-md rounded-3 border-0 text-black font-weight-bold  py-2-5   m-3  text-center">Meu
              perfil</button></a>
        </li>

      </ul>
    </div>
  </nav>


 

  <!-- SCRIPT DO BANNER -->
  <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth'
          });
        }
      });
    });
  </script>

  <%- body %>



    <%- script %>


      <script defer src="/js/onload.js"></script>


</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>







 <!-- abaixo muda o tAMANHO DO ICONE DA LOGO  -->
 <style>
  .logo {
    width: 150px;
    height: auto;
  }


  .tamamhopersoalizado{
    width: 100%;
    height: 70px;
  }
  </style>
  
</html>