<body>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
  
      img {
        width: 100%;
        height: auto;
        display: block;
        /* Remove espaço extra sob a imagem */
      }
    </style>
  
    <section class=" container-fluid  mb-5  d-flex justify-content-center align-items-center">
      <div class="col-12  col-md-6 col-lg-6">
        <div class="w-100 bg-primary-subtle  rounded-4">
          <div class="bg-black rounded-top-4">
            <h4 class="pb-5 text-light text-center">
            </h4>
            <img src="/images/smartbus-logo.png" class="img-fluid w-50 mx-auto mt-5 pt-5" style="margin-top: -50px">
          </div>
          <div class="text-center">
          </div>
          <br>
          <div class=" rounded-bottom-4">
            <div class="container">
              <h4>Cadastro de Onibus da empresa</h4>
              <form id="formulario" name="formulario" class="mx-auto my-4" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">
                      <label for="nome">Placamento do veiculo</label>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputName">Nome</label>
                          <input id="nome" name="nome" type="text" id="inputName" class="form-control" placeholder="John" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputSurname">Origem</label>
                          <input type="text" id="origem" name="origem" class="form-control" id="inputSurname" placeholder="Doe" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputEmail4">Destino</label>
                          <input type="text"  id="destino" name="destino" class="form-control" id="inputEmail4" placeholder="doejohnn@email.com"
                            required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputPassword4">Horario de Partida do Onibus</label>
                          <input type="text" id="horarioPartida" name="horarioPartida" class="form-control" id="inputPhone" placeholder="00:00" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="inputCity">Duração</label>
                          <input type="text" id="duracao" name="duracao" class="form-control" id="inputCity" required>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary"
                        style="background-color: #FF9e00; color: #000;">Enviar</button>
                      <a class="btn btn-primary" style="background-color: #FF9e00; color: #000;" href="/adm/linhas">
                        Cancelar</a>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>




  
<script>
  // abaixo codigo funcional do editar
  document.addEventListener('DOMContentLoaded', async () => {
try {
    const id = window.location.pathname.split('/').pop();
    const response = await axios.get(`http://127.0.0.1:5000/linhas/puxar/${id}`);
    const motorista = response.data;

    let form = document.querySelector('#formulario');
    const nomeInput = document.querySelector('#nome');

    nomeInput.value = motorista.nome;


    // abaixo fala sobre o botao subimit para finalizar edição
    form.addEventListener('submit', async (event) => {
        event.preventDefault();



        if (form.checkValidity()) {
            try {
                form = document.querySelector('#formulario');
                const formData = new FormData(form);
                const nome = formData.get("nome");
                const data = { nome };
                
                await axios.patch(`http://127.0.0.1:5000/linhas/editar/${id}`, data);

                alert("Motorista editado com sucesso.");
                window.location.href = `/adm/motorista`;
            } catch (error) {
                console.log(error);
                // alert(error.response.data.mensagem);
            }
        }

        form.classList.add('was-validated');
    }, false);
} catch (error) {
    console.log(error);

    if (error?.response?.status === 404) {
        alert("Motorista não encontrado.");
        window.location.href = "/adm/linhas";
    } else {
        // alert(error.response.data.mensagem);
    }
}

});
</script>


</body>

</html>















