


<!-- <main class="container">
    <h2>Painel do Administrador</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, qui!</p>
</main> -->

<!-- <script>
    document.addEventListener('DOMContentLoaded', async () => {
        // displayFlashMessage();

        try {
            // const response = await axios.get('http://localhost:3001/api/admin', { withCredentials: true });
            // console.log(response.data);
            console.log("ola");
        } catch (error) {
            console.error('Erro ao tentar acessar a página de administração.', error);
            // window.location.href = '/entrar';
        }
    });
</script> -->