

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
                <div class="col-4 col-sm-3 col-xl-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Linhas de rota-->
      <div class="col-md-0 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <h4 class="card-title mb-1">Linhas</h4>
              <p class="text-muted mb-1">Linhas mais acessadas</p>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="preview-list">
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-primary">
                        <i class="mdi mdi-file-document"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Jaragua</h6>
                        <p class="text-muted mb-0">Jaragua Direto</p>
                      </div>
                      <div class="me-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted">De 30 em 30 minutos</p>
                        <p class="text-muted mb-0">Seg a Dom </p>
                      </div>
                    </div>
                  </div>
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-cloud-download"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Travessão</h6>
                        <p class="text-muted mb-0">Travessão via Barranco</p>
                      </div>
                      <div class="me-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted">De 45 em 45 minutos</p>
                        <p class="text-muted mb-0"> Seg a Dom</p>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-info">
                        <i class="mdi mdi-clock"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Vapapesca</h6>
                        <p class="text-muted mb-0">Via Canto do Mar</p>
                      </div>
                      <div class="me-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted">De 50 em 50 minutos</p>
                        <p class="text-muted mb-0">Seg a Dom</p>
                      </div>
                    </div>
                  </div>
                  <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-danger">
                        <i class="mdi mdi-email-open"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Pegorelli</h6>
                        <p class="text-muted mb-0">Via Pereque / via Ubs Tarumãns</p>
                      </div>
                      <div class="me-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted">De 50 em 50 minutos</p>
                        <p class="text-muted mb-0">Seg a Dom </p>
                      </div>
                    </div>
                  </div>
                  <div class="preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-warning">
                        <i class="mdi mdi-chart-pie"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Tinga</h6>
                        <p class="text-muted mb-0"></p>
                      </div>
                      <div class="me-auto text-sm-right pt-2 pt-sm-0">
                        <p class="text-muted">De hora em hora</p>
                        <p class="text-muted mb-0">Seg a Dom </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>














      

      <!-- Registro dos motoristas
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Motoristas</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </th>
                      <th> Nome dos Motoristas </th>
                      <th> Registro</th>
                      <th> Ganho por viagem </th>
                      <th> Linhas </th>
                      <th> Férias </th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face1.jpg" alt="image" />
                        <span class="ps-2">Maria Betânia</span>
                      </td>
                      <td> 02312 </td>
                      <td> R$ 645,00</td>
                      <td> Pegorelli </td>
                      <td> 22/03/2024 </td>

                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face2.jpg" alt="image" />
                        <span class="ps-2">Camila Cabello</span>
                      </td>
                      <td> 02312 </td>
                      <td> R$ 820,00 </td>
                      <td> Jaragua </td>
                      <td> 04/12/2024 </td>

                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face5.jpg" alt="image" />
                        <span class="ps-2">Manoel Gomes</span>
                      </td>
                      <td> 02312 </td>
                      <td> R$ 730,500 </td>
                      <td> Travessão </td>
                      <td> 10/02/2024 </td>

                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>

                        <img src="assets/images/faces/face3.jpg" alt="image" />
                        <span class="ps-2">Jorge Abraão</span>
                      </td>
                      <td> 02312 </td>
                      <td> R$ 400,15 </td>
                      <td> Tinga </td>
                      <td> 06/19/2025 </td>

                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face4.jpg" alt="image" />
                        <span class="ps-2">José Da Silva</span>
                      </td>
                      <td> 02312 </td>
                      <td> R$ 605,00 </td>
                      <td> Vapapesca </td>
                      <td> 05/08/2025 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Lista de cadastro dos passageiros-->
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Passageiros</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </th>
                      <th> Nome dos Passageiros </th>
                      <th> Numero do Cartão</th>
                      <th> Recarregou/quantia </th>
                      <th> Tipo de Cartão </th>
                      <th> Vencimento </th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face1.jpg" alt="image" />
                        <span class="ps-2">Jussara Santos</span>
                      </td>
                      <td> 0023765432 </td>
                      <td> R$ 250,00 </td>
                      <td> VTO </td>
                      <td> 15/10/2025 </td>


                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <!---->
                        <img src="assets/images/faces/face2.jpg" alt="image" />
                        <span class="ps-2">Maria Aparecida</span>
                      </td>
                      <td> 0023729862 </td>
                      <td> R$ 400,00 </td>
                      <td> VTO </td>
                      <td> 25/05/2025 </td>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face5.jpg" alt="image" />
                        <span class="ps-2">Janaina de Azevedo</span>
                      </td>
                      <td> 0023762482 </td>
                      <td> R$ 300,00 </td>
                      <td> VTE </td>
                      <td> 15/10/2025 </td>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face3.jpg" alt="image" />
                        <span class="ps-2">Mauro luidi</span>
                      </td>
                      <td> 0063545432 </td>
                      <td> R$ 00,00 </td>
                      <td> VTG </td>
                      <td> 29/10/2025 </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <img src="assets/images/faces/face4.jpg" alt="image" />
                        <span class="ps-2">lucia Amorim</span>
                      </td>
                      <td> 0023765982 </td>
                      <td> R$ 00,00 </td>
                      <td> VTG </td>
                      <td> 15/08/2025 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Rodapé -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © SmartBus.com
            2023</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

