@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #FFB612;
    font-family: 'Cambay', sans-serif;
}

.container{
    text-align: center;
}

h1{
    padding: 50px 2px 0 2px;
    font-size: 30pt;
}

img{
    padding: 20px 0 20px 0;
}

.info{
    font-size: 15pt;
    font-weight: 500;
}

.p{
    padding: 30px 0 0 0;
    font-weight: 500;
}

