<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar-se</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-4">
                <h3 class="card-title text-left mb-4">Registrar-se</h3>
                <form id="formulario" autocomplete="off" >   <!-- autocomplete off -->
                  <div class="form-group">
                    <label>Nome</label>
                    <input id="nome" name="nome" type="text" class="form-control p_input  text-light">
                  </div>
                  <div class="form-group">
                    <label>E-mail</label>
                    <input id="email" name="email" type="email" class="form-control p_input text-light">
                  </div>
                  <div class="form-group">
                    <label>Senha</label>
                    <input id="senha" name="senha" type="password" class="form-control p_input  text-light ">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Lembrar </label>
                    </div>
                    <a href="#" class="forgot-pass">Esqueceu sua senha?</a>
                  </div>
                  <div class="text-center">
                    <a ><button type="submit" href="http://127.0.0.1:3000/site/login" class="btn btn-primary btn-block enter-btn">Criar conta</button></a>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-facebook col me-2">
                      <i class="mdi mdi-facebook"></i> Facebook </button>
                    <button type="submit" class="btn btn-google col">
                      <i class="mdi mdi-google-plus"></i> Google plus </button>
                  </div>
                  <p class="sign-up text-center">Já tem uma conta?<a href="http://127.0.0.1:3000/site/login"> Entrar</a></p>
                  <p class="terms">Ao criar uma conta você está aceitando nossos<a href="#"> Termos & Condições</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </body>



  <script>
    document.addEventListener('DOMContentLoaded', () => {
  
  
      const form = document.querySelector('#formulario');
      form.addEventListener('submit', async (event) => {
        event.preventDefault()
  
  
        try {
          const formData = new FormData(form);
          const data = {
          nome: formData.get('nome'),
          email: formData.get('email'),
          senha: formData.get('senha'),
        };
          
          const response = await axios.post('http://127.0.0.1:5000/usuario/cadastrar', data);
          alert("cadastrou")
          window.location.href = 'http://127.0.0.1:3000/site/login';
        } catch (error) {
          console.error("Erro ao enviar requisição:", error);
          alert("deu ruim");
        }
  
        // form.classList.add('was-validated')
      }, false)
    });
  </script>
  