<body>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      /* Remove espaço extra sob a imagem */
    }
  </style>


  <section class=" container-fluid  mb-5  d-flex justify-content-center align-items-center">
    <div class="col-12  col-md-12 col-lg-10">
      <div class="w-100 bg-primary-subtle  rounded-4">
        <div class="bg-dark mt-4">
          <h1 class="text-center text-light">Criação de Cartão</h1>


          <!-- select de tipod de cartao -->
          <div class="input-group">
            <span class="input-group-addon"><i class=""></i>*Tipo:</span>
            <select class="form-control" name="cartao" id="cartao">
              <option value="" disabled selected hidden> Escolha: </option>
              <option value="1">Comum</option>
              <option value="2">Escolar</option>
              <option value="3">Idoso</option>
              <option value="4">PCDs</option>
            </select>
          </div>



          <h4 class="pb-5 text-light text-center">
          </h4>
        </div>
        <div class="text-center">
        </div>
        <br>
        <div class=" rounded-bottom-4">
          <div class="container mt-6 pt-5">
            <h4>Cadastro de Cartão Smart</h4>
            <form id="formulario" name="formulario" class="mx-auto my-4" enctype="multipart/form-data">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputName">Nome Completo</label>
                  <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome" required>
                </div>

                <div class="form-group col-md-6 mb-5 pb-3">
                  <label for="inputPassword4">CPF </label>
                  <input type="text" id="cpf" name="cpf" class="form-control" id="inputPassword4"
                    placeholder="000.000.000-00" required>
                </div>




                <!-- cidade codigo cep -->
                <form class="row g-3">
                  <h5 class="mt-5 pt-5 mr-5 pr-5 ">Adicione seu enderço</h5>
                  <div class="col-md-6">
                    <input class="form-control rounded-3 mb-3" type="text" name="cep" id="cep" placeholder="CEP ">
                  </div>
                  <div class="col-md-6">
                    <input class="form-control rounded-3  mb-3" type="text" name="estado" id="estado"
                      placeholder="Estado" disabled>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control rounded-3  mb-3" type="text" name="cidade" id="cidade"
                      placeholder="Cidade" disabled>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control rounded-3  mb-3" type="text" name="bairro" id="bairro"
                      placeholder="Bairro" disabled>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control rounded-3  mb-3" type="text" name="rua" id="rua" placeholder="Rua"
                      disabled>

                  </div>
              </div>
              <div class="botao text-center">
                <button type="submit"
                  class="btn mt-4 mb-5 btn btn-warning btn-md rounded-5 border-0  custom-shadow  text-black font-weight-bold m-2 text-center">CRIAR
                  CARTÃO</button>

              </div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  </form>
  </div>
  </div>
  </div>
  </div>
</body>


<!-- abaixo todo o css fechado -->


<!-- abaixo temos o codigo funcional do cadastrar -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {


    const form = document.querySelector('#formulario');
    form.addEventListener('submit', async (event) => {
      event.preventDefault()


      try {
        const formData = new FormData(form);
        const data = {
          nome: formData.get('nome'),
          cpf: formData.get('cpf'),
          cartao: document.getElementById('cartao').value // Obter o valor selecionado do dropdown
        };
        console.log(data);

        const response = await axios.post('http://127.0.0.1:5000/cliente/cadastrar', data);
        alert("cadastrou")
        // window.location.href = '/entrar';
      } catch (error) {
        console.error("Erro ao enviar requisição:", error);
        alert("deu ruim");
      }

      // form.classList.add('was-validated')
    }, false)
  });
</script>








































<!-- api de cep -->
<script>
  const formulario = document.querySelector("form");
  const resultados = document.querySelector("#resultados");

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const cep = formulario.cep.value;

    try {
      const response = await fetch(`https://brasilapi.com.br/api/cep/v1/${cep}`);
      // console.log(response);

      if (response.ok) {
        const data = await response.json();
        // console.log(data);


        formulario.cidade.value = data.city;
        formulario.estado.value = data.state;
        formulario.bairro.value = data.neighborhood;
        formulario.rua.value = data.street;



      } else {
        resultados.innerHTML = `<p>O CEP ${cep} é inválido.</p>`;
      }
    } catch (error) {
      console.error(error);
      resultados.innerHTML = "<p>Erro ao buscar CEP.</p>";
    }
  });
</script>




















<!-- STYLE DO BOTAO DE CORES -->

<style>
  #app-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
    z-index: 1;
  }

  #select-button {
    position: relative;
    height: 40px;
    padding: 12px 14px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: #000 solid 1px;
  }

  #options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  #selected-value {
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
  }

  .option i {
    width: 16px;
    height: 16px;
  }

  .option,
  .label {
    color: #2d3667;
    font-size: 16px;
  }

  #chevrons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
  }

  #chevrons i {
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
  }

  #options-view-button:checked+#select-button #chevrons i {
    color: #2d3667;
  }

  .options {
    position: absolute;
    left: 0;
    width: 250px;
  }

  #options {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
  }

  #options-view-button:checked~#options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  }

  .option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
  }

  .option i {
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
  }

  #options-view-button:checked~#options .option i {
    display: block;
    padding: 12px 0;
  }

  .label {
    display: none;
    padding: 0;
    margin-left: 27px;
  }

  #options-view-button:checked~#options .label {
    display: block;
    padding: 12px 14px;
  }

  .s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
  }

  .s-c.top {
    top: 0;
  }

  .s-c.bottom {
    bottom: 0;
  }

  input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .s-c:hover~i {
    color: #fff;
    opacity: 0;
  }

  .s-c:hover {
    height: 100%;
    z-index: 1;
  }

  .s-c.bottom:hover+i {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
  }

  .s-c.top:hover~i {
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
  }

  @keyframes moveup {
    0% {
      bottom: -25px;
      opacity: 0;
    }

    100% {
      bottom: 0;
      opacity: 1;
    }
  }

  @keyframes movedown {
    0% {
      top: -25px;
      opacity: 0;
    }

    100% {
      top: 0;
      opacity: 1;
    }
  }

  .label {
    transition: 0.3s ease all;
  }

  .opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
  }

  .option input[type="radio"]:checked~.opt-val {
    opacity: 1;
    transform: scale(1);
  }

  .option input[type="radio"]:checked~i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
  }

  .option input[type="radio"]:checked~i,
  .option input[type="radio"]:checked~.label {
    color: #fff;
  }

  .option input[type="radio"]:checked~.label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  #options-view-button:not(:checked)~#options .option input[type="radio"]:checked~.opt-val {
    top: -30px;
  }

  .option:nth-child(1) input[type="radio"]:checked~.label:before {
    background-color: #000;
    border-radius: 4px 4px 0 0;
  }

  .option:nth-child(1) input[type="radio"]:checked~.opt-val {
    top: -31px;
  }

  .option:nth-child(2) input[type="radio"]:checked~.label:before {
    background-color: #ea4c89;
  }

  .option:nth-child(2) input[type="radio"]:checked~.opt-val {
    top: -71px;
  }

  .option:nth-child(3) input[type="radio"]:checked~.label:before {
    background-color: #0057ff;
  }

  .option:nth-child(3) input[type="radio"]:checked~.opt-val {
    top: -111px;
  }

  .option:nth-child(4) input[type="radio"]:checked~.label:before {
    background-color: #32c766;
  }

  .option:nth-child(4) input[type="radio"]:checked~.opt-val {
    top: -151px;
  }

  .option:nth-child(5) input[type="radio"]:checked~.label:before {
    background-color: #f48024;
  }

  .option:nth-child(5) input[type="radio"]:checked~.opt-val {
    top: -191px;
  }

  .option:nth-child(6) input[type="radio"]:checked~.label:before {
    background-color: #006400;
    border-radius: 0 0 4px 4px;
  }

  .option:nth-child(6) input[type="radio"]:checked~.opt-val {
    top: -231px;
  }

  .option .fa-codepen {
    color: #000;
  }

  .option .fa-dribbble {
    color: #ea4c89;
  }

  .option .fa-behance {
    color: #0057ff;
  }

  .option .fa-hackerrank {
    color: #32c766;
  }

  .option .fa-stack-overflow {
    color: #f48024;
  }

  .option .fa-free-code-camp {
    color: #006400;
  }

  #option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
  }

  #options-view-button:checked~#options #option-bg {
    display: block;
  }

  .option:hover .label {
    color: #fff;
  }

  .option:nth-child(1):hover~#option-bg {
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
  }

  .option:nth-child(2):hover~#option-bg {
    top: 40px;
    background-color: #ea4c89;
  }

  .option:nth-child(3):hover~#option-bg {
    top: 80px;
    background-color: #0057ff;
  }

  .option:nth-child(4):hover~#option-bg {
    top: 120px;
    background-color: #32c766;
  }

  .option:nth-child(5):hover~#option-bg {
    top: 160px;
    background-color: #f48024;
  }

  .option:nth-child(6):hover~#option-bg {
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
  }
</style>