
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,500;1,500&display=swap');


.fonte-personalizada{
  font-family: 'Bebas Neue', sans-serif;
}

  </style>




  <nav class="bg-dark navbar-dark">
    <div class="container">
      
    </div>
    </nav>
     <section id="header" class="jumbotron text-center">
       <h1 class="display-3 text-light fonte-personalizada">AQUI VOCÊ É A PRIORIDADE</h1>
      <p class="lead text-light fonte-personalizada">Há mais de 6 anos mudando a forma de se locomover </p>
       <a href="criar-cartão.html" class="btn btn-primary">Criar</a>
       <a href="TERMOS.html" class="btn btn-secondary">Conhecer</a>
  </section>
    
  <section id="gallery mb-5">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-5">
      <div class="">
        <img src="img/horario-img3.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Linha de Itapeva</h5>
          <ul class="pt-2 font-do-site-primaria">
            <a href="criar-cartão.html"><li>LINHA 100 – TINGA – OLARIA VIA RODOVIÁRIA</li></a>
            <a href="criar-cartão.html"><li>LINHA 102 – MORRO DO ALGODÃO VIAGOLFINHO</li></a>
            <a href="criar-cartão.html"><li>LINHA 103 – MORRO DO ALGODÃO</li></a>
            <a href="criar-cartão.html"><li>LINHA 104 – PEGORELLI TARUMÃS VIA UPA SUL</li></a>
            <a href="criar-cartão.html"><li>LINHA 105 – PEGORELLI TARUMÃS VIA PEREQUÊ</li></a>
            <a href="criar-cartão.html"><li>LINHA 106 – JARAGUÁ NOTURNO</li></a>
           </ul>        
          
          
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="">
        <img src="img/horario-img2.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Linha de jardain santos</h5>
          <ul class="pt-2 font-do-site-primaria">
            <a href="criar-cartão.html"><li>LINHA 100 – TINGA – OLARIA VIA RODOVIÁRIA</li></a>
            <a href="criar-cartão.html"><li>LINHA 102 – MORRO DO ALGODÃO VIAGOLFINHO</li></a>
            <a href="criar-cartão.html"><li>LINHA 103 – MORRO DO ALGODÃO</li></a>
            <a href="criar-cartão.html"><li>LINHA 104 – PEGORELLI TARUMÃS VIA UPA SUL</li></a>
            <a href="criar-cartão.html"><li>LINHA 105 – PEGORELLI TARUMÃS VIA PEREQUÊ</li></a>
            <a href="criar-cartão.html"><li>LINHA 106 – JARAGUÁ NOTURNO</li></a>
           </ul>     
           
           
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="">
        <img src="img/horario-img1 (1).png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Linha de verde maua</h5>
          <ul class="pt-2 font-do-site-primaria">
            <a href="criar-cartão.html"><li>LINHA 100 – TINGA – OLARIA VIA RODOVIÁRIA</li></a>
            <a href="criar-cartão.html"><li>LINHA 102 – MORRO DO ALGODÃO VIAGOLFINHO</li></a>
            <a href="criar-cartão.html"><li>LINHA 103 – MORRO DO ALGODÃO</li></a>
            <a href="criar-cartão.html"><li>LINHA 104 – PEGORELLI TARUMÃS VIA UPA SUL</li></a>
            <a href="criar-cartão.html"><li>LINHA 105 – PEGORELLI TARUMÃS VIA PEREQUÊ</li></a>
            <a href="criar-cartão.html"><li>LINHA 106 – JARAGUÁ NOTURNO</li></a>
           </ul>     
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  

  <style>
    #header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
}
  </style>


<!-- footer -->





  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="font-do-site-primaria ">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #000000">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-between p-2" style="background-color:goldenrod">
        <!-- Left -->

        <!-- Left -->


      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <!-- ABAIXO ESTA O NEWSTWOSELLER -->
        <section class="py-4 py-xl-5">
          <div
            class="text-white bg-dark border rounded border-0 border-light d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5">
            <div class="text-center text-lg-start py-3 py-lg-1">
              <h2 class="fw-bold mb-2"><strong>Coloque seu Email e receba Novidades!</strong></h2>
              <p class="mb-0">Imperdiet consectetur dolor.</p>
            </div>
            <form class="d-flex justify-content-center flex-wrap my-2" method="post">
              <div class="my-2"><input class="form-control" type="email" name="email" placeholder="Digite seu email">
              </div>
              <div class="my-2"><button class="btn btn-warning text-dark ms-sm-2" type="submit">Subscribe </button>
              </div>
            </form>
          </div>
        </section>
        <!-- ACIMA ESTA O NEWSTWOSELLER -->
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">SMART<span>BUS</span></h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                Conduzindo sua jornada com excelência, segurança e comodidade, porque para nós, cada viagem é uma
                experiência única
              </p>
              <a href=" https://www.reclameaqui.com.br/empresa/cartao-top/"><img class="mt-4 rounded-4 " src="/img/reclame-aqui-icone.png" alt="logo-reclameaqui-nota1000"></a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">De<span>VS</span></h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-white">Philype.html</a>
              </p>
              <p>
                <a href="#!" class="text-white">Silda.gpt</a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">PAGINAS</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href=" http://127.0.0.1:3000/site/cartao" class="text-white">Criar cartão</a>
              </p>
              <p>
                <a href="#!" class="text-white">Recarregar cartão</a>
              </p>
              <p>
                <a href="#!" class="text-white">Perfil</a>
              </p>
              <p>
                <a href="#!" class="text-white">Horarios</a>
              </p>
              <p>
                <a href="#!" class="text-white">Ajuda</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">CONTATO</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p><i class="fas fa-home mr-3"></i> Caraguatatuba, AV. bahia 293, SP</p>
              <p><i class="fas fa-envelope mr-3"></i>SmartBusCliente@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 55 98567-9388</p>
              <p><i class="fas fa-print mr-3"></i> + 55 89567-7789</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="termos.html">SmartBus</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </div>
  <!-- End of .container -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>
