

  <section style=" background-color: #eee  ;">
    <div class="container  col-lg-4 py-4-5">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="Home-site.html">Home</a></li>
              <li class="breadcrumb-item"><a href="perfil.html">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">Pagina de perfil</li>
            </ol>
          </nav>
        </div>
      </div>


      <!-- Conteúdo da coluna esquerda -->
      <form id="example" id="example">
      <div  class=" row justify-content-center col-lg-12 ">
        <div class="card mb-4  ">
          <div class="card-body text-center  ">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid " style="width: 150px;">
            <h5 class="my-3">Usuario*</h5>
            <p class="text-muted mb-1">CI: 7383503*</p>
            <p class="text-muted mb-4">Cartão Comum*</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="click" id="aaa" name="aaa" class="btn btn-light border ">
                <img src="/img/olho-aberto.png" alt="" class="icon-size"> <!-- Add the "icon-size" class -->
              </button>
              <button type="button" class="btn btn-outline-primary ms-1">******</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- abaixo estas o css do icone do olho -->
    </div>
    <style>
      .icon-size {
        width: 30px;
        /* Half of the original width */
        height: 25px;
        /* Half of the original height */
      }


      .py-4-5{
        padding-top: 1.5rem; /* You can adjust the value as needed */
      padding-bottom: 4.5rem; /* You can adjust the value as needed */

      }
      


    
    </style>

    <!-- Conteúdo da coluna direita -->

  </section>

  <script>

script>
      document.addEventListener("DOMContentLoaded", async () => {
        try {
          const tbody = document.querySelector("#example");

          const response = await axios.get(
            "http://localhost:5000/motoristas/listar"
          );
          response.data.forEach((motorista) => {
            const tr = document.createElement("aaa");



        

            // const fotoTd = document.createElement('td');
            // if (motorista.foto) {
            //     fotoTd.innerHTML = `<img src="http://localhost:3001/${motorista.foto}" alt="${motorista.nome}" width="50">`;
            // } else {
            //     fotoTd.innerHTML = "Não possui.";
            // }
            // tr.appendChild(fotoTd);

            const acoesTd = document.createElement("td");
            // <a href="/motoristas/exibir/${motorista.id}">Exibir</a>
            acoesTd.innerHTML = `${exibirLink} | ${editarLink} | ${deletarLink}`;
            tr.appendChild(acoesTd);

            tbody.appendChild(tr);
          });
        } catch (error) {
          console.log(error);
          // alert(error.response.data.mensagem);
        }
      });
  </script>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>




<!-- script do saldo -->
<script>
document.addEventListener("DOMContentLoaded", async (event) => {
  const tokenDaSessao = getCookie('jwt');

      if (tokenDaSessao == null){
          window.location.href = 'http://localhost:3000/adm'
      }
  
  const tokenDecodificado = decodeToken(tokenDaSessao)
  console.log(tokenDecodificado)

  const campoNome = document.querySelector('#nome');
  const campoCPF = document.querySelector('#cpf');
  const botaoSaldo = document.querySelector('#button-saldo');

  var saldo, cpf, nome;

  try {
      const response = await axios.get(`http://127.0.0.1:5000/cliente/pesquisa/${tokenDecodificado.id}`);

      saldo = response.data.saldo;
      cpf = response.data.cpf;
      nome = response.data.nome;

      
  } catch (error) {
      alert(error.message)
  }

  botaoSaldo.setAttribute('clicado', 'nao')

  botaoSaldo.addEventListener('click', (event) => {
      if (botaoSaldo.attributes.clicado.value == 'nao'){
          botaoSaldo.innerHTML = `R$${saldoCliente}`
          botaoSaldo.attributes.clicado.value = 'sim'
      } else {
          botaoSaldo.innerHTML = "******"
          botaoSaldo.attributes.clicado.value = 'nao'
      }
  })

  campoNome.value = nomeCliente;
  campoCPF.value = cpfCliente;
  

  const formPatch = document.querySelector('#formulario-recarregar');

  const valor = document.querySelector('#Valor'); //aqui nois devemos pegar os dados do formulario que vamos enviar para recarregar
})
</script>