<script>
  document.addEventListener("DOMContentLoaded", async (event) => {
    const tokenDaSessao = getCookie('token'); /// nao sei se seria token ou jwt

        if (tokenDaSessao == null){
            window.location.href = 'http://localhost:3000/logar'
        }
    
    const tokenDecodificado = decodeToken(tokenDaSessao)
    console.log(tokenDecodificado)

    const campoNome = document.querySelector('#nome');
    const campoCPF = document.querySelector('#cpf');
    const botaoSaldo = document.querySelector('#button-saldo');

    var saldoCliente, cpfCliente, nomeCliente;

    try {
        const response = await axios.get(`http://127.0.0.1:5000/cliente/listar/${tokenDecodificado.id}`);

        saldoCliente = response.data.saldo;
        cpfCliente = response.data.cpf;
        nomeCliente = response.data.nome;

        
    } catch (error) {
        alert(error.message)
    }

    botaoSaldo.setAttribute('clicado', 'nao')

    botaoSaldo.addEventListener('click', (event) => {
        if (botaoSaldo.attributes.clicado.value == 'nao'){
            botaoSaldo.innerHTML = `R$${saldoCliente}`
            botaoSaldo.attributes.clicado.value = 'sim'
        } else {
            botaoSaldo.innerHTML = "******"
            botaoSaldo.attributes.clicado.value = 'nao'
        }
    })

    campoNome.value = nomeCliente;
    campoCPF.value = cpfCliente;
    

    const formPatch = document.querySelector('#formulario-recarregar');

    const valor = document.querySelector('#Valor'); //aqui nois devemos pegar os dados do formulario que vamos enviar para recarregar
})
</script>


<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STPSP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/site/recarga-cartao.css">

</head>

<body>
    <header>
        <div class="linha-between" id="imagens-botoes">
            <div class="logo">
              <img src="/images/logo-site.png" alt="logo do Sistema de Transporte Público de São Paulo">
            </div>
            
            <div class="header-botoes">
                <button class="botao login"><a href="http://localhost:3000/logar">Login</a></button>
                <button class="botao inscrever" id="inscrever-se">Adquira já</button>
            </div>
        </div>

        <div class="separador-menu"></div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary menu-container" style="padding: 0px;">
          <div class="container-fluid menu-navbar">
            <button class="navbar-toggler menu-hamburguer" type="button" data-bs-toggle="collapse" data-bs-theme="dark" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu-flex" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link menu-link" aria-current="page" href="http://localhost:3000/">Página
                            Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="http://localhost:3000/carteirinha">Seu Cartão</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="http://localhost:3000/recarregar">Recarga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="http://localhost:3000/linhas">Linhas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="http://localhost:3000/sobre">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="http://localhost:3000/atendimento">Atendimento</a>
                    </li>
                </ul>
            </div>
          </div>
        </nav>
    </header>

    <h3 id="centro">Seu Cartão</h3>
    <div class="pai">
        <div class="campo">
            <div class="container-info-cartao">

                <div class="seus-dados" id="seus-dados">
                        <div class="mb-3">
                            <label for="nome" class="form-label ">Nome</label>
                            <input type="text" class="form-control formulario border-black w-100" id="nome" aria-describedby="emailHelp" disabled>
                        </div>




                    <div class="mb-3">
                        <label for="cpf" class="form-label ">CPF</label>
                        <input type="text" class="form-control formulario border-black" id="cpf" aria-describedby="emailHelp" disabled>
                    </div>




                        <h3 id="centro">Saldo</h3>

                        <div class="saldo">
                            <button id="button-saldo">******</button>
                        </div>
                    </div>
            </div>


            <h3>Quer recarregar o seu Cartão?</h3>



            <!-- <div class="container2">
                <form class="org" id="formulario-recarregar">
                    <p>Métodos de pagamento</p>


                    <div class="pagamento">
                        <button id="button-pag" class="btn" type="submit">Débito</button>
                        <button id="button-pag" class="btn" type="submit">Crédito</button>
                        <button id="button-pag" class="btn" type="submit">Pix</button>
                        <button id="button-pag" class="btn" type="submit">Boleto</button>
                    </div>

                    <div class="metodos-pagamento">
                        <img src="/images/visa.png" alt="">
                        <img src="/images/mastercard.png" alt="">
                        <img src="/images/elo.png" alt="">
                    </div>

                    <div class="cartao">

                        <div class="mb-3">
                            <label for="Numero-cartao" class="form-label ">Número do Cartão</label>
                            <input type="number" class="form-control formulario border-black w-100" id="Numero-cartao" aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="Nome" class="form-label ">Nome Completo</label>
                            <input type="text" class="form-control formulario border-black w-100" id="Nome-Completo" aria-describedby="emailHelp">
                        </div>
                                <div class="mb-3">
                                    <label for="Validade" class="form-label ">Validade</label>
                                    <input type="number" class="form-control formulario border-black w-100" id="Validade"
                                        aria-describedby="emailHelp" required placeholder="00/00/0000">
                                </div>

                                <div class="mb-3">
                                    <label for="CVC" class="form-label ">CVC</label>
                                    <input type="number" class="form-control formulario border-black w-100" id="CVC"
                                        aria-describedby="emailHelp" required placeholder="000">
                                </div>

                            <div class="mb-3">
                                <label for="Valor" class="form-label ">Valor</label>
                                <input type="number" class="form-control formulario border-black w-100" id="Valor"
                                    aria-describedby="emailHelp">
                            </div>

                            <button type="submit" class="btn">Enviar</button>
                            
                        </div>
                    </form>
            </div> -->
        </div>

        <footer>
            <div class="container-footer">
                <div class="row-footer">

                    <!--coluna 1-->
                    <div class="footer-col">
                        <h4>Produtos</h4>
                        <ul>
                            <li><a href="#">Conta Digital</a></li>
                            <li><a href="#">Cartão de transporte</a></li>
                            <li><a href="#">Recarga</li>
                        </ul>
                    </div>
                    <!--fim da coluna 1-->

                    <!--coluna 2-->
                    <div class="footer-col">
                        <h4>Atendimento</h4>
                        <ul>
                            <li><a href="#">Atendimento whatsaap</a></li>
                            <li><a href="#">Duvidas Frequentes</a></li>
                            <li><a href="#">Contato institucional</a></li>
                            <!--<li><a href="#">sadasfaf@gmail.com</a></li>-->
                        </ul>
                    </div>
                    <!--fim da coluna 2-->

                    <!--coluna 4-->
                    <div class="footer-col">
                        <h4>Nos siga nas redes socias</h4>
                        <div class="rede-social">
                            <img src="/images/instagram.png" alt="">
                            <img src="/images/twitter.png" alt="">
                            <img src="/images/facebook.png" alt="">




                        </div>
                    </div>
                    <!--fim da coluna 4-->
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="/javascripts/site/cookiemanager.js"></script>
        <script src="/javascripts/site/recarga-token-validacao.js"></script>
</body>

</html>