body {
  background-color: rgb(250, 250, 250);
}


.logo {
  width: 100px;
  margin-bottom: 10px;
}


/* ---------------------------------------------------------PARTE DOS ICONES  ----------------------------*/
.categoria-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 10%;
  align-items: flex-start;
  /* Adicionado para alinhar os itens verticalmente */
}

.card {
  width: 20%;
  height: 100%;
  /* Defina uma altura explícita para todos os cartões */
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card h5 {
  font-weight: 700;
  margin-top: 10px;
}

.card p {
  margin-top: 8px;
}

.card img {
  max-width: 80%;
}

.textos-fontesh5 {
  font-weight: 700;
}

.categoria-icons nav {
  border: none;
  outline: none;
}

/* -------------------------------------------FINAL DOS ICONES-------------------------------------------------------------------------- */


/* css do banner 2 sobre o app */


.texto-chamativo {
  margin: 30px;
  text-align: center;
  font-weight: 800;
}

span {
  color: #FAA707;

}


/* CSS DO MOBILE */
@media screen and (max-width: 768px) {
  .categoria-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;
    align-items: flex-start;
    /* Adicionado para alinhar os itens verticalmente */


    .
  }
















  .card {
    width: 50%;
    height: 50%;
    /* Defina uma altura explícita para todos os cartões */
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;

  }

  .card h5 {
    font-weight: 700;
    margin-top: 10px;

  }

  .card p {
    margin-top: 8px;
  }

  .card img {
    max-width: 80%;
  }

  .textos-fontesh5 {
    font-weight: 700;
  }

  .categoria-icons nav {
    border: none;
    outline: none;
  }






}

.img-banner2 {
  width: 100%;
  margin-top: -150px;

}

p {
  font-size: small;
}


/* CSS DA AREA DO VIDEO DO SITE */



.area-video {
  width: 100%;
  height: 400px;
  background-color: rgba(255, 0, 0, 0);
}

.texto-titulo {
  float: left;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);

}

.mapa-div {
  float: right;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.mapa {
  border-radius: 20px;
  margin-left: 70px;
  margin-top: 40px;
  width: 80%;
  height: 80%;
}




.titulo {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.text {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;

}

/* PARTE DOS PLANOS DE COMPRA DE CARTÕES */
.compra-de-cartoes {
  width: 100%;
  height: 400px;
  background-color: rgba(255, 77, 6, 0.219);
  display: flex;
  justify-content: center;
  /* Centralize os elementos horizontalmente */
  gap: 5px;
  /* Define o espaçamento de 5px entre os elementos */
}

.container {}

.cardcompra1,
.cardcompra2,
.cardcompra3,
.cardcompra4 {
  width: 18%;
  height: 320px;
  margin-top: 40PX;
  border-radius: 20px;
}

.cardcompra1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.cardcompra2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.cardcompra3 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.cardcompra4 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}



.cardsuperior1,
.cardsuperior2,
.cardsuperior3,
.cardsuperior4 {
  background-color: black;
  width: 100%;
  height: 30%;
  margin-top: 0PX;
  border-radius: 20px;
}


/* ----------------------------------------AREA ECOLOGICA CARD---------------------------------------- */



.Area-card-verde {
  width: 100%;
  height: 200px;
  background-color: #ffffff00;
  margin-bottom: 40px;

}

.img-card-verde {
  margin-top: 10px;
  margin-left: 15%;
}

.area-titulo-card1,
.area-titulo-card2,
.area-titulo-card3,
.area-titulo-card4 {
  background-color: black;
  width: 100%;
  height: 30%;
  margin-top: -80PX;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);


}

.cartão-icon1,
.cartão-icon2,
.cartão-icon3,
.cartão-icon4 {
  margin-top: -80PX;
  margin-left: -10px;

}

/* CSS DOS BOTOES  */
.botao1,
.botao2,
.botao3 {
  background-color: #FFAD12;
  /* Green */
}


.botao4 {
  background-color: #000000;
}

.botao1,
.botao2,
.botao3,
.botao4 {
  margin-top: 25%;
  margin-left: 18%;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
  border-radius: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}


.botao2:hover,
.botao3:hover,
.botao1:hover {
  background-color: #000000;
  /* Cor de fundo no hover */
  color: #fff;
  /* Cor do texto no hover */
}


.botao4:hover {
  background-color: #FFAD12;
  /* Green */
  color: #fff;
  /* Cor do texto no hover */
}


.titulo-comum1 {
  color: white;
  margin-left: 40px;
}

.titulo-comum2 {
  color: white;
  margin-left: 25px;
}

.titulo-comum3 {
  color: white;
  margin-left: 50px;
}

.titulo-comum4 {
  color: white;
  margin-left: 20px;
}

.texto-card-499 {
  margin-bottom: -20px;
  margin-left: 30px;
}





/* ----------------------------------------AREA ECOLOGICA CARD FINAL---------------------------------------- */




/*--------------------------------------- footer do site -------------------------------------------*/


footer {
  padding: 5em 0;
}

.footer-02 {
  background: #131719;
}

.footer-02 .footer-heading {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.footer-02 .footer-heading .logo {
  color: #fff;
  text-transform: uppercase;
}

.footer-02 a {
  color: #bba387;
}

.footer-02 p {
  color: rgba(255, 255, 255, 0.3);
}

.footer-02 .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.footer-02 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .list-unstyled li a:hover {
  color: #fff;
}

.footer-02 .list-unstyled a {
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .list-unstyled a:hover {
  color: #fff;
}

.footer-02 .subscribe {
  margin-top: -105px;
}

.footer-02 .subscribe-form {
  border-radius: 40px;
  background: #fff;
  padding: 3px;
  -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
}

.footer-02 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 16px;
  height: 56px;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, , 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-02 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #FFAD12 !important;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;
}

.footer-02 .subscribe-form .form-group .submit:hover,
.footer-02 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer-02 .partner-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 1em 0;
}

.footer-02 .partner-wrap h3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .partner-wrap .partner-name a {
  margin-right: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .partner-wrap .partner-name a span {
  color: white;
}

.footer-02 .partner-wrap .btn-custom {
  font-size: 14px;
}

.footer-02 .border-left {
  border-color: rgba(255, 255, 255, 0.05) !important;
}

@media (max-width: 1199.98px) {
  .footer-02 .border-left {
    border: none;
  }
}